<div id="game-screen">
    <div id="game-score">
      <p id="alive-count">&#x2764; <span>0</span></p>
      <p id="dead-count">&#x1F47B; <span>0</span></p>
    </div>

    <div id="grid-container"></div>
  </div>

  <div id="controls">
    <button id="start-btn" class="btn btn-success"><i class="bi bi-play-circle"></i></button>
    <button id="stop-btn" class="btn btn-danger"><i class="bi bi-pause-circle"></i></button>
    <button id="restart-btn" class="btn btn-warning"><i class="bi bi-arrow-counterclockwise"></i></button>
</div>
